# TOPIC: String Based Assignment Problem

# 1. Write a program to reverse a string.

In [13]:
string="This is my second assignment"
rev_string=string[::-1]
print("the reversed string is:",rev_string)

the reversed string is: tnemngissa dnoces ym si sihT

# 2. Check if a string is a palindrome.

In [7]:
string=input("Enter the string:")
string=string.lower()
stringrev=string[-1::-1]
if string==stringrev:
    print(string +" is a palindrome string")
else:
    print(string +" is not a palindrome string")

Enter the string:Madam
madam is a palindrome string

# 3. Convert a string to uppercase.

In [10]:
string=input("Enter the string:")
up_string=string.upper();
print("upper case string is:",up_string)

Enter the string:this is my second assignment
upper case string is: THIS IS MY SECOND ASSIGNMENT

# 4. Convert a string to lowercase.

In [11]:
string=input("Enter the string:")
lw_string=string.lower();
print("lower case string is:",lw_string)

Enter the string:THis IS My SECond ASSignMENT
lower case string is: this is my second assignment

# 5. Count the number of vowels in a string.

In [15]:
string=input("Enter the string:")
count=0
string=string.lower()
vowel="aeiou"
for char in string:
    if char in vowel:
        count+=1
print("Number of Vowels in the string: ",count)

Enter the string:this is my second assignment
Number of Vowels in the string:  7

# 6. Count the number of consonants in a string.

In [17]:
string=input("Enter the string:")
count=0
string=string.lower()
consonants="bcdfghjklmnpqrstvwxyz"
for char in string:
    if char in consonants:
        count+=1
print("Number of consonants in the string: ",count)

Enter the string:this is my second assignment
Number of consonants in the string:  17

# 7. Remove all whitespaces from a string.

In [21]:
string=input("Enter the string:")
string_new=string.replace(" ","")
print("String after removing all white spaces:\n",string_new)

Enter the string:Th  is      is      m  y  seco  n d assignmen   t
String after removing all white spaces:
 Thisismysecondassignment

# 8. Find the length of a string without using the `len()` function.

In [30]:
string=input("Enter the string:")
count=0
for i in string:
    count+=1
print("The length of the string is:",count)

Enter the string:This is a test string
The length of the string is: 21

# 9. Check if a string contains a specific word.

In [36]:
string=input("Enter the string:")
word=input("Enter the word to be checked:")
if word in string:
    print("The string contains the word '{}' ".format(word))
else:
    print("The string does not contains the word '{}'".format(word))

Enter the string:I am a good boy
Enter the word to be checked:good
The string contains the word 'good'

# 10. Replace a word in a string with another word.

In [38]:
string=input("Enter the string:")
old_word=input("Enter the word to be replaced:")
new_word=input("Enter the new word:")
mod_string=string.replace(old_word,new_word)
print("The modified string is:\n",mod_string)

Enter the string:I am a good boy
Enter the word to be replaced:good
Enter the new word:bad
The modified string is:
 I am a bad boy

# 11. Count the occurrences of a word in a string.

In [41]:
string=input("Enter the string:")
t_word=input("Enter the word whose occurrences is to be calculated:")
words=string.split()
count=0
for word in words:
    if t_word==word:
        count+=1
print("The word '{}' occurs {} times in the string".format(t_word,count))

Enter the string:This is a sample string.This sample string is to check occurrences of a word.
Enter the word whose occurrences is to be calculated:sample
The word 'sample' occurs 2 times in the string

# 12. Find the first occurrence of a word in a string.

In [45]:
string=input("Enter the string:")
word=input("Enter the word whose occurrence is to be found:")
index=string.find(word)
if index == -1:
    print("'{}' does not occur in the string".format(word))
else:
    print("'{}' occurs first in the {}th index".format(word,index))

Enter the string:I am a good boy
Enter the word whose occurrence is to be found:good
'good' occurs first in the 7th index

# 13. Find the last occurrence of a word in a string.

In [46]:
string=input("Enter the string:")
word=input("Enter the word whose occurrence is to be found:")
index=string.rfind(word)
if index == -1:
    print("'{}' does not occur in the string".format(word))
else:
    print("'{}' occurs last in the {}th index".format(word,index))

Enter the string:This is to find the last occurrence of the word in the string
Enter the word whose occurrence is to be found:the
'the' occurs last in the 51th index

# 14. Split a string into a list of words.

In [49]:
string=input("Enter the string:")
words=string.split()
print("List of words :",words)

Enter the string:This is my second assignment
List of words : ['This', 'is', 'my', 'second', 'assignment']

# 15. Join a list of words into a string.

In [51]:
words=["This","is","my","second","assignment"]
string=' '.join(words)
print("The string formed by joining the words is:\n",string)

The string formed by joining the words is:
 This is my second assignment

# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [52]:
string=input("Enter a string:")
mod_string=string.replace(" ","_")
print("Modified string where words are seperated by underscore is:\n",mod_string)

Enter a string:This is my second assignment
Modified string where words are seperated by underscore is:
 This_is_my_second_assignment

# 17. Check if a string starts with a specific word or phrase.

In [56]:
string=input("Enter a string:")
s_word=input("Enter the starting word or phrase:")
if string.startswith(s_word):
    print("The string starts with '{}''".format(s_word))
else:
    print("The string does not starts with '{}''".format(s_word))

Enter a string:this is a sample string
Enter the starting word or phrase:this
The string starts with 'this''

# 18. Check if a string ends with a specific word or phrase.

In [59]:
string=input("Enter a string:")
e_word=input("Enter the ending word or phrase:")
if string.endswith(e_word):
    print("The string ends with '{}''".format(e_word))
else:
    print("The string does not ends with '{}''".format(e_word))

Enter a string:this is a sample string
Enter the ending word or phrase:sample string
The string ends with 'sample string''

# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [65]:
string="hello world"
mod_string=string.title();
print("String after converting to title case is:\n",mod_string)

String after converting to title case is:
 Hello World

# 20. Find the longest word in a string.

In [68]:
string=input("Enter the string:")
words=string.split()
longest_word=max(words,key=len)
print("Longest word in the string is: ",longest_word)

Enter the string:This is my second assignment
Longest word in the string is:  assignment

# 21. Find the shortest word in a string.

In [69]:
string=input("Enter the string:")
words=string.split()
shortest_word=min(words,key=len)
print("Shortest word in the string is: ",shortest_word)

Enter the string:This is my second assignment
Shortest word in the string is:  is

# 22. Reverse the order of words in a string.

In [84]:
string=input("Enter the string:")
words=string.split()
words=words[::-1]
print("String after reversing the order of words is:\n"," ".join(words))

Enter the string:I am a good boy
String after reversing the order of words is:
 boy good a am I

# 23. Check if a string is alphanumeric.

In [97]:
string=input("Enter the string:")
check=string.isalnum()
if check:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

Enter the string:test123
The string is alphanumeric

# 24. Extract all digits from a string.

In [102]:
string=input("Enter the string:")
digits=""
for i in string:
    if i.isdigit():
        digits+=i
print("Extracted digits from the string is:",digits)

Enter the string:When I was in class 5 my roll was 123
Extracted digits from the string is: 5123

# 25. Extract all alphabets from a string.

In [104]:
string=input("Enter the string:")
alpha=""
for i in string:
    if i.isalpha():
        alpha+=i
print("Extracted alphabets from the string is:",alpha)

Enter the string:Hello123World456
Extracted alphabets from the string is: HelloWorld

# 26. Count the number of uppercase letters in a string.

In [106]:
string=input("Enter the string:")
count=0
for char in string:
    if char.isupper():
        count+=1
print("Number of uppercase letters in the string is:",count)

Enter the string:TufaN IS a GooD BoY
Number of uppercase letters in the string is: 8

# 27. Count the number of lowercase letters in a string.

In [109]:
string=input("Enter the string:")
count=0
for char in string:
    if char.islower():
        count+=1
print("Number of lowercase letters in the string is:",count)

Enter the string:TufaN IS a GooD BoY
Number of lowercase letters in the string is: 7

# 28. Swap the case of each character in a string.

In [112]:
string=input("Enter the string:")
swapped_string=string.swapcase()
print("After swapping the case of each character we have:\n",swapped_string)

Enter the string:TUFan Is a GOOd Boy
After swapping the case of each character we have:
 tufAN iS A gooD bOY

# 29. Remove a specific word from a string.

In [116]:
string=input("Enter the string:")
word=input("Enter the word to be removed:")
mod_str=string.replace(word,'')
print("After removing the word '{}', the modified string is:\n".format(word),mod_str)

Enter the string:I am good at studies and also I am good at sports
Enter the word to be removed:good
After removing the word 'good', the modified string is:
 I am  at studies and also I am  at sports

# 30. Check if a string is a valid email address.

In [130]:
import re #regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@+[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False
    
email = input("Enter the email address:")
if is_valid_email(email):
    print("The email entered is a valid email.")
else:
    print("The email entered is not a valid email")

Enter the email address:tufan.kundu11@gmail.com
The email entered is a valid email.

# 31. Extract the username from an email address string.

In [134]:
string=input("Enter the email id:")
user_name=string.split("@")[0]
print("User name is :",user_name)

Enter the email id:tufan.kundu11@gmail.com
User name is : tufan.kundu11

# 32. Extract the domain name from an email address string.

In [135]:
string=input("Enter the email id:")
domain_name=string.split("@")[1]
print("domain name is :",domain_name)

Enter the email id:tufan.kundu11@gmail.com
domain name is : gmail.com

# 33. Replace multiple spaces in a string with a single space.

In [136]:
string=input("Enter the string:")
mod_string=" ".join(string.split())
print("The modified string after replacing multiple spaces with a single space :\n",mod_string)

Enter the string:I      am      a     good           boy
The modified string after replacing multiple spaces with a single space :
 I am a good boy

# 34. Check if a string is a valid URL.

In [141]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
if is_valid_url(url1):
    print("Valid url")
else:
    print("Invalid URL")
if is_valid_url(url2):
        print("Valid url")
else:
    print("Invalid URL")

Valid url
Invalid URL

# 35. Extract the protocol (http or https) from a URL string

In [142]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

# 36. Find the frequency of each character in a string.

In [155]:
string=input("Enter the string:")
frequency={}
for char in string:
    if char in frequency:
        frequency[char]+=1
    else:
        frequency[char]=1
for char,freq in frequency.items():
    print("character:'{}',frequency:{}".format(char,freq))

Enter the string:assignment
character:'a',frequency:1
character:'s',frequency:2
character:'i',frequency:1
character:'g',frequency:1
character:'n',frequency:2
character:'m',frequency:1
character:'e',frequency:1
character:'t',frequency:1

# 37. Remove all punctuation from a string.

In [156]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str =input("Enter the string:")

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Enter the string:hi, How are you?
Original string: hi, How are you?
Cleaned string: hi How are you

# 38. Check if a string contains only digits.

In [164]:
string=input("Enter the string:")
if string.isdigit():
    print("The string contains only digits")
else:
    print("The string does not contains only digits")

Enter the string:12545
The string contains only digits

# 39. Check if a string contains only alphabets.

In [165]:
string=input("Enter the string:")
if string.isalpha():
    print("The string contains only alphabets")
else:
    print("The string does not contains only alphabets")

Enter the string:Assignment
The string contains only alphabets

# 40. Convert a string to a list of characters.

In [168]:
string=input("Enter a string:")
words=list(string)
print("String after converting to a list of characters is:\n",words)

Enter a string:assignment
String after converting to a list of characters is:
 ['a', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't']

# 41. Check if two strings are anagrams.

In [171]:
string1=input("Enter the first string:")
string2=input("Enter the second string:")
string1=string1.replace(" ","").lower()
string2=string2.replace(" ","").lower()
if sorted(string1)==sorted(string2):
    print("'{}' and '{}' are anagrams".format(string1,string2))
else:
    print("'{}' and '{}' are not anagrams".format(string1,string2))

Enter the first string:anjulika
Enter the second string:akilujna
'anjulika' and 'akilujna' are anagrams

# 42. Encode a string using a Caesar cipher.

In [172]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

# 43. Decode a Caesar cipher encoded string.43. Decode a Caesar cipher encoded string.

In [173]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

# 44. Find the most frequent word in a string.

In [189]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str =input("Enter the string")

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Enter the stringHello there! Hello here, I am here to say hello
Most frequent word: hello

# 45. Find all unique words in a string.

In [4]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words

input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'world', 'the', 'hows', 'there', 'hello'}

# 46. Count the number of syllables in a string

In [5]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

# 47. Check if a string contains any special characters.

In [6]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

# 48. Remove the nth word from a string.

In [13]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# input of string and n value
input_str = input("Enter the string:")
n_value=int(input("Enter the value of n:"))

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Enter the string:I am a good boy
Enter the value of n:2
Original string: I am a good boy
Modified string: I a good boy
Removed word: am

# 49. Insert a word at the nth position in a string.

In [16]:
def insert_word_at_n(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 0 and n <= len(words):
        # Insert the word at the nth position in the words list
        words.insert(n, word_to_insert)

        # Join the words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None

# Input of string, word to insert, and n value
input_str = input("Enter the string:")
word_to_insert =input("Enter the word to be inserted:")
n_value =int(input("Enter the poition in which word is to be inserted:")) 
# Insert the word at the nth position
modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Enter the string:I am a lucky
Enter the word to be inserted:man
Enter the poition in which word is to be inserted:4
Original string: I am a lucky
Modified string: I am a lucky man

# 50. Convert a CSV string to a list of lists.

In [19]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)
# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

# 1. Create a list with integers from 1 to 10.

In [24]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Find the length of a list without using the `len()` function.

In [29]:
list_1=[1,3,4,6,"tuf",85,"kindo",54,98,56,39]
count=0
for l in list_1:
    count+=1
print("The length of the list is :",count)

The length of the list is : 11

# 3. Append an element to the end of a list.

In [35]:
list_1=[2,43,5,676,43,32,21,6,754,752,21,"tuf"]
new_ele=input("Enter the new element to be added to the list:")
list_1.append(new_ele)
print("updated list is :\n",list_1)

Enter the new element to be added to the list:58
updated list is :
 [2, 43, 5, 676, 43, 32, 21, 6, 754, 752, 21, 'tuf', '58']

# 4. Insert an element at a specific index in a list.

In [39]:
list_1=[1,2,3,4,5,"dog","led",576,484]
ele=input("Enter the element to be inserted:")
n=int(input("Enter the index at which element is to be inserted:"))
list_1.insert(n,ele)
print("Updated list :",list_1)

Enter the element to be inserted:assignment
Enter the index at which element is to be inserted:3
Updated list : [1, 2, 3, 'assignment', 4, 5, 'dog', 'led', 576, 484]

# 5. Remove an element from a list by its value.

In [43]:
list_1=[1,2,3,4,5,"dog","led",576,484]
value=input("Enter the element to be removed:")
list_1.remove(value)
print("Updated list:",list_1)

Enter the element to be removed:led
Updated list: [1, 2, 3, 4, 5, 'dog', 576, 484]

# 6. Remove an element from a list by its index.

In [45]:
list_1=[1,2,3,4,5,"dog","led",576,484]
value=int(input("Enter the index of element to be removed:"))
list_1.pop(value)
print("Updated list:",list_1)

Enter the index of element to be removed:5
Updated list: [1, 2, 3, 4, 5, 'led', 576, 484]

# 7. Check if an element exists in a list.

In [51]:
list_1=[1,2,3,4,5,784,576,484]
value=int(input("Enter the element to be checked:"))
if value in list_1:
    print(value," exists in list")
else:
    print(value," does not exists in the list")

Enter the element to be checked:5
5  exists in list

# 8. Find the index of the first occurrence of an element in a list.

In [53]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
value=3
print("The index of '{}' is".format(value),list_1.index(value))

The index of '3' is 2

# 9. Count the occurrences of an element in a list.

In [56]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
value=3 #element whose occurence is to be counted
print(value," occurs {} times in the list".format(list_1.count(value)))

3  occurs 3 times in the list

# 10. Reverse the order of elements in a list.

In [62]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
list_1.reverse()
print("Updated list in reversed order is:",list_1)

Updated list in reversed order is: [3, 4, 3, 484, 576, 784, 5, 4, 3, 2, 1]

# 11. Sort a list in ascending order.

In [64]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
list_1.sort()
print("List after sorting in ascending order:",list_1)

List after sorting in ascending order: [1, 2, 3, 3, 3, 4, 4, 5, 484, 576, 784]

# 12. Sort a list in descending order.

In [67]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
list_1.sort(reverse=True)
print("List after sorting in descending order:",list_1)

List after sorting in descending order: [784, 576, 484, 5, 4, 4, 3, 3, 3, 2, 1]

# 13. Create a list of even numbers from 1 to 20.

In [70]:
list_1=[]
for _ in range(2,21,2):
    list_1.append(_)
print("The list of even numbers from 1 to 20 is:\n",list_1)

The list of even numbers from 1 to 20 is:
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 14. Create a list of odd numbers from 1 to 20.

In [71]:
list_1=[]
for _ in range(1,21,2):
    list_1.append(_)
print("The list of odd numbers from 1 to 20 is:\n",list_1)

The list of odd numbers from 1 to 20 is:
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 15. Find the sum of all elements in a list.

In [1]:
list_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s=sum(list_1)
print("Sum of all the elements of the list is:",s)

Sum of all the elements of the list is: 55

# 16. Find the maximum value in a list

In [3]:
list_1=[1,2,3,4,5,784,576,484,3,4,3]
max_value=max(list_1)
print("Maximum value in the list is:",max_value)

Maximum value in the list is: 784

# 17. Find the minimum value in a list.

In [4]:

list_1=[-11,-2,30,0,4,5,784,576,484,3,4,3]
min_value=min(list_1)
print("Manimum value in the list is:",min_value)

Manimum value in the list is: -11

# 18. Create a list of squares of numbers from 1 to 10.

In [5]:
list_1=[]
for i in range(1,11):
    list_1.append(i*i)
print("List is:",list_1)

List is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 19. Create a list of random numbers.

In [6]:
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [53, 52, 60, 69, 29, 27, 99, 28, 63, 5]

# 20. Remove duplicates from a list.

In [10]:
list_1=[1,1,0,1,2,2,3,4,5,2,3,4,0,9,94,3,54,2,1]
list_2=set(list_1)
list_2=list(list_2)
print("original list:\n",list_1)
print("List after removing the duplicates:\n",list_2)

original list:
 [1, 1, 0, 1, 2, 2, 3, 4, 5, 2, 3, 4, 0, 9, 94, 3, 54, 2, 1]
List after removing the duplicates:
 [0, 1, 2, 3, 4, 5, 9, 54, 94]

# 21. Find the common elements between two lists.

In [15]:
l1=[1,6,7,3,4,1,2,8,4,67,85,45]
l2=[53,2,6,1,5,9,0,5,4,84,85,2,7]
common_element=[]
for element in l1:
    if element in l2:
        common_element.append(element)
print("Common elements between the two lists is:\n",common_element)

Common elements between the two lists is:
 [1, 6, 7, 4, 1, 2, 4, 85]

# 22. Find the difference between two lists.

In [19]:
list1 = [2,4,50,25,90]
list2 = [8,2,5,25,45]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [50, 4, 90]

# 23. Merge two lists.

In [20]:
list1 = [2,4,50,25,90]
list2 = [8,2,5,25,45]
merged_list=list1+list2
print("Merged list is:",merged_list)

Merged list is: [2, 4, 50, 25, 90, 8, 2, 5, 25, 45]

# 24. Multiply all elements in a list by 2.

In [35]:
list1=[1,2,3,4,5,6,7,8]
for i in range(0,len(list1)):
    list1[i]=list1[i] * 2
print("updated list:",list1)

updated list: [2, 4, 6, 8, 10, 12, 14, 16]

# 25. Filter out all even numbers from a list.

In [38]:
list1=[1,2,3,4,5,6,7,8,9,10]
even_list=[]
for i in list1:
    if i%2!=0:
        even_list.append(i)
print("Filtered list without even numbers is:",even_list)

Filtered list without even numbers is: [1, 3, 5, 7, 9]

# 26. Convert a list of strings to a list of integers.

In [44]:
list1=["10","15","20","25","40","55"]
#conversion of list of string to list of integers
int_list=[int(i) for i in list1]
print("List of integers is:",int_list)

List of integers is: [10, 15, 20, 25, 40, 55]

# 27. Convert a list of integers to a list of strings.

In [46]:
list1=[10,54,45,87,98,20,54]
#conversion of list of integer to list of string
str_list=[str(i) for i in list1]
print("List of string is:",str_list)

List of string is: ['10', '54', '45', '87', '98', '20', '54']

# 28. Flatten a nested list.

In [47]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9],10,50]
# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

# 29. Create a list of the first 10 Fibonacci numbers.

In [53]:
a=0
b=1
list1=[a,b]
for i in range(0,8):
    c=a+b
    a=b
    b=c
    list1.append(c)
print("List of first 10 fibonacci numbers is:\n",list1)

List of first 10 fibonacci numbers is:
 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# 30. Check if a list is sorted.

In [67]:
list1=[1,2,3,4,5,6,7,8,9]
def is_sorted(list1):
    for i in range(1,len(list1)):
        if(list1[i]<list1[i-1]):
            return False
    return True

if is_sorted(list1):
    print("The list is sorted in ascending order")
else:
    print("The list is not sorted in ascending order")

The list is sorted in ascending order

# 31. Rotate a list to the left by `n` positions.

In [69]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

# 32. Rotate a list to the right by `n` positions.

In [70]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

# 33. Create a list of prime numbers up to 50.

In [90]:
list1=[]
for i in range(1,51):
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c+=1
    if(c==2):
        list1.append(j)
print("List of prime number upto 50 :\n",list1)

List of prime number upto 50 :
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# 34. Split a list into chunks of size `n`.

In [93]:
def chunk_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 2
result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

# 35. Find the second largest number in a list.

In [94]:
list1 = [1,1,2,5,40,65,75,-8,45,47]
sorted_list = sorted(set(list1))
if len(sorted_list) >= 2:
    print("Second largest number:", sorted_list[-2])
else:
    print("The list does not contain enough elements.")

Second largest number: 65

# 36. Replace every element in a list with its square.

In [95]:
list1=[1,2,3,4,5,6,7,8]
for i in range(0,len(list1)):
    list1[i]=list1[i]**2
print("Updated list:",list1)

Updated list: [1, 4, 9, 16, 25, 36, 49, 64]

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [106]:
list1=["nokia","samsung","vivo","oppo","xiomi","poco"]
d={}
for i in range(0,len(list1)):
    d.update({list1[i]:i})
print(d)

{'nokia': 0, 'samsung': 1, 'vivo': 2, 'oppo': 3, 'xiomi': 4, 'poco': 5}

# 38. Shuffle the elements of a list randomly.

In [107]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [1, 8, 4, 6, 9, 7, 2, 5, 3, 10]

# 39. Create a list of the first 10 factorial numbers

In [116]:
l1=[]
for i in range(1,11):
    p=1
    for j in range(1,i+1):
        p*=j
    l1.append(p)
print("List of first 10 factorial numbers is:",l1)

List of first 10 factorial numbers is: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# 40. Check if two lists have at least one element in common.

In [125]:
l1=[1,5,7,8,10,12,45,78,98,52]
l2=[4,5,47,48,56,52,41,45,45,8]

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

if has_common_element(l1, l2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

# 41. Remove all elements from a list.

In [126]:
l1=[1,5,7,8,10,12,45,78,98,52]
print("Before:",l1)
l1.clear()
print("After removing all elements:",l1)

Before: [1, 5, 7, 8, 10, 12, 45, 78, 98, 52]
After removing all elements: []

# 42. Replace negative numbers in a list with 0.

In [128]:
l1=[1,5,-7,8,10,-12,45,-78,98,52]
print("Initial list:",l1)
for i in range(0,len(l1)):
    if l1[i]<0:
        l1[i]=0
print("Updated list:",l1)

Initial list: [1, 5, -7, 8, 10, -12, 45, -78, 98, 52]
Updated list: [1, 5, 0, 8, 10, 0, 45, 0, 98, 52]

# 43. Convert a string into a list of words.

In [129]:
string=input("Enter a string:")
words=string.split()
print("String after converting to list of words:\n",words)

Enter a string:I am a good boy
String after converting to list of words:
 ['I', 'am', 'a', 'good', 'boy']

# 44. Convert a list of words into a string.

In [130]:
list1=['I', 'am', 'a', 'good', 'boy']
string=" ".join(list1)
print("the required string is:",string)

the required string is: I am a good boy

# 45. Create a list of the first `n` powers of 2.

In [136]:
n=int(input("Enter the value of n:"))
l1=[]
for i in range(n):
    l1.append(2**i)
print("The required list of first {} powers of 2 is:\n".format(n),l1)

Enter the value of n:5
The required list of first 5 powers of 2 is:
 [1, 2, 4, 8, 16]

# 46. Find the longest string in a list of strings.

In [139]:
str_list=["apple","samsung","nokia","onida","videocon","realme","infinix"]
longest_str=max(str_list, key=len)
print("Longest string in a list of strings is:",longest_str)

Longest string in a list of strings is: videocon

# 47. Find the shortest string in a list of strings.

In [140]:
str_list=["apple","samsung","nokia","onida","videocon","realme","infinix"]
shortest_str=min(str_list, key=len)
print("Shortest string in a list of strings is:",shortest_str)

Shortest string in a list of strings is: apple

# 48. Create a list of the first `n` triangular numbers.

In [146]:
l1=[]
n=int(input("Enter the value of n:"))
for i in range(1,n+1):
    l1.append(i*(i+1)//2)
print("List of the first", n, "triangular numbers:", l1)

Enter the value of n:5
List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

# 49. Check if a list contains another list as a subsequence.

In [147]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

# 50. Swap two elements in a list by their indices.

In [149]:
l1 = [1, 2, 3, 4, 5,6,7,8,9]
index1 = 3
index2 = 7

temp = l1[index1]
l1[index1] = l1[index2]
l1[index2] = temp

print("List after swapping elements:", l1)

List after swapping elements: [1, 2, 3, 8, 5, 6, 7, 4, 9]

# Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5.

In [2]:
tup=(1,2,3,4,5)
print("Tuple with integer from 1 to 5 is:\n",tup)

Tuple with integer from 1 to 5 is:
 (1, 2, 3, 4, 5)

# 2. Access the third element of a tuple.

In [3]:
tup=(14,25,73,84,53)
third_ele=tup[2]
print("The third element of the tuple is:",third_ele)

The third element of the tuple is: 73

# 3. Find the length of a tuple without using the `len()` function.

In [4]:
tup=(1,3,64,23,12,8,23,768,23,5721,865,2148,2163,234,765,15)
count=0
for i in tup:
    count+=1
print("Length of the tuple is:",count)

Length of the tuple is: 16

# 4. Count the occurrences of an element in a tuple.

In [12]:
tup=(1,3,64,23,12,8,3,768,23,5721,3,2148,3,234,765,15)
n=int(input("Enter the element whose occurrence is to be counted:"))
count=0
for i in tup:
    if n==i:
        count+=1
print("The element ",n," occurs {} times in the tuple".format(count))

Enter the element whose occurrence is to be counted:3
The element  3  occurs 4 times in the tuple

# 5. Find the index of the first occurrence of an element in a tuple.

In [21]:
tup=(1,3,64,23,12,8,3,768,23,5721,3,2148,3,234,765,15)
n=int(input("Enter the element whose first occurrence is to be found:"))
index=-1
for i in range(len(tup)):
    if n==tup[i]:
        index=i
        break
if index!=-1:
    print("The element {} occurs first in the {}th index".format(n,index))
else:
    print("The element {} is not present in the tuple".format(n))

Enter the element whose first occurrence is to be found:64
The element 64 occurs first in the 2th index

# 6. Check if an element exists in a tuple.

In [27]:
tup=(1,3,64,23,12,8,3,768,23,5721,3,2148,3,234,765,15)
n=int(input("Enter the element whose existance is to be checked:"))
if n in tup:
      print("The element {} is present in the tuple".format(n))
else:
    print("The element {} is not present in the tuple".format(n))

Enter the element whose existance is to be checked:23
The element 23 is present in the tuple

# 7. Convert a tuple to a list

In [29]:
tup=(1,3,64,23,12,8,3,2148,3,234,765,15)
list1=list(tup)
print("Tuple:",tup)
print("List:",list1)

Tuple: (1, 3, 64, 23, 12, 8, 3, 2148, 3, 234, 765, 15)
List: [1, 3, 64, 23, 12, 8, 3, 2148, 3, 234, 765, 15]

# 8. Convert a list to a tuple.

In [30]:
list1= [1, 3, 64, 23, 12, 8, 3, 2148, 3, 234, 765, 15]
tup=tuple(list1)
print("List:",list1)
print("Tuple:",tup)

List: [1, 3, 64, 23, 12, 8, 3, 2148, 3, 234, 765, 15]
Tuple: (1, 3, 64, 23, 12, 8, 3, 2148, 3, 234, 765, 15)

# 9. Unpack the elements of a tuple into variables.

In [31]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

# 10. Create a tuple of even numbers from 1 to 10.

In [35]:
list1=[i for i in range(2,11,2)]
tup=tuple(list1)
print("Required tuple for even numbers is:\n",tup)

Required tuple for even numbers is:
 (2, 4, 6, 8, 10)

# 11. Create a tuple of odd numbers from 1 to 10.

In [36]:
list1=[i for i in range(1,11,2)]
tup=tuple(list1)
print("Required tuple for odd numbers is:\n",tup)

Required tuple for odd numbers is:
 (1, 3, 5, 7, 9)

# 12. Concatenate two tuples.

In [38]:
tuple_1=(1,2,3,4)
tuple_2=(5,6,7,8)
tuple_3=tuple_1+tuple_2
print("After concatenating:",tuple_3)

After concatenating: (1, 2, 3, 4, 5, 6, 7, 8)

# 13. Repeat a tuple three times.

In [41]:
tuple_1=(1,2,3,4)
rep_tuple=tuple_1*3
print("Repeating a tuple 3 times:\n",rep_tuple)

Repeating a tuple 3 times:
 (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# 14. Check if a tuple is empty.

In [44]:
tup1=(5,8,9)
tup2=()
c=0
for i in tup1:
    c+=1
if(c==0):
    print("Tuple is empty")
else:
    print("Tuple is not empty")
c=0
for i in tup2:
    c+=1
if(c==0):
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is not empty
Tuple is empty

# 15. Create a nested tuple.

In [46]:
nested_tuple=((1,2,3),("Tufan","kundu"),(1.3,1.5),(True,False),2+3j)
print("Nested tuple:\n",nested_tuple)

Nested tuple:
 ((1, 2, 3), ('Tufan', 'kundu'), (1.3, 1.5), (True, False), (2+3j))

# 16. Access the first element of a nested tuple.

In [48]:
nested_tuple=((1,2,3),("Tufan","kundu"),(1.3,1.5),(True,False),2+3j)
first_ele=nested_tuple[0]
print("First element of the nested tuple:",first_ele)

First element of the nested tuple: (1, 2, 3)

# 17. Create a tuple with a single element.

In [51]:
tup1=(3,)
print("Tuple with single element:",tup1)

Tuple with single element: (3,)

# 18. Compare two tuples.

In [52]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

# 19. Delete a tuple.

In [53]:
tup1=(1,2,3,4)
print("Tuple:",tup1)
del(tup1)
print("After deletion",tup1)

Tuple: (1, 2, 3, 4)

NameError: name 'tup1' is not defined

# 20. Slice a tuple.

In [55]:
main_tuple=(10,15,45,78,85,96,53,54,89,20,30)
sliced_tuple=main_tuple[3:9]
print("main tuple:",main_tuple)
print("After slicing:",sliced_tuple)

main tuple: (10, 15, 45, 78, 85, 96, 53, 54, 89, 20, 30)
After slicing: (78, 85, 96, 53, 54, 89)

# 21. Find the maximum value in a tuple.

In [56]:
tup1=(12,85,45,75,205,0,15,49,98)
max_value=max(tup1)
print("Maximun value in the tuple:",max_value)

Maximun value in the tuple: 205

# 22. Find the minimum value in a tuple.

In [58]:
tup1=(12,85,-45,75,205,0,15,49,98)
min_value=min(tup1)
print("Minimum value in the tuple:",min_value)

Minimum value in the tuple: -45

# 23. Convert a string to a tuple of characters

In [60]:
string="Sample"
tup1=tuple(string)
print("String after converting to tuple of characters:\n",tup1)

String after converting to tuple of characters:
 ('S', 'a', 'm', 'p', 'l', 'e')

# 24. Convert a tuple of characters to a string.

In [62]:
tup1=('S', 'a', 'm', 'p', 'l', 'e')
string="".join(tup1)
print("required string is:",string)

required string is: Sample

# 25. Create a tuple from multiple data types.

In [63]:
tup1=(1,2,3,"Tufan","kundu",1.3,1.5,True,False,2+3j)
print("Tuple from multiple data types:\n",tup1)

Tuple from multiple data types:
 (1, 2, 3, 'Tufan', 'kundu', 1.3, 1.5, True, False, (2+3j))

# 26. Check if two tuples are identical.

In [64]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

# 27. Sort the elements of a tuple.

In [66]:
tup1=(15,-87,-25,0,12,47,58,2,-9,54,25)
sorted_tup=tuple(sorted(tup1))
print("Before sorting:",tup1)
print("After sorting:",sorted_tup)

Before sorting: (15, -87, -25, 0, 12, 47, 58, 2, -9, 54, 25)
After sorting: (-87, -25, -9, 0, 2, 12, 15, 25, 47, 54, 58)

# 28. Convert a tuple of integers to a tuple of strings

In [71]:
int_tup=(78, 85, 96, 53, 54, 89)
str_tup=tuple((str(i) for i in int_tup))
print("Before conversion:",int_tup)
print("After conversion:",str_tup)

Before conversion: (78, 85, 96, 53, 54, 89)
After conversion: ('78', '85', '96', '53', '54', '89')

# 29. Convert a tuple of strings to a tuple of integers.

In [77]:
str_tup=('78', '85', '96', '53', '54', '89')
int_tup=tuple((int(i) for i in str_tup))
print("Before conversion:",str_tup)
print("After conversion:",int_tup)

Before conversion: ('78', '85', '96', '53', '54', '89')
After conversion: (78, 85, 96, 53, 54, 89)

# 30. Merge two tuples.

In [78]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

# 31. Flatten a nested tuple.

In [79]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

# 32. Create a tuple of the first 5 prime numbers.

In [81]:
list1=[]
for i in range(2,100):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c+=1
    if c==2:
        list1.append(i)
tup1=tuple(list1[:5])
print("Tuple of first 5 prime numbers is:",tup1)

Tuple of first 5 prime numbers is: (2, 3, 5, 7, 11)

# 33. Check if a tuple is a palindrome.

In [87]:
org_tup=(1,2,3,2,1)
rev_tup=tuple(reversed(org_tup))
if org_tup==rev_tup:
    print("The tuple is palindrome")
else:
    print("The tuple is not palindrome")

The tuple is palindrome

# 34. Create a tuple of squares of numbers from 1 to 5.

In [89]:
tup1=tuple([i**2 for i in range(1,6)])
print("Tuple of square of numbers from 1 to 5 :",tup1)

Tuple of square of numbers from 1 to 5 : (1, 4, 9, 16, 25)

# 35. Filter out all even numbers from a tuple.

In [96]:
org_tuple=(1,2,3,4,5,6,7,8,9,10)
mod_tuple=tuple(i for i in org_tuple if i%2!=0)
print("Tuple after filtering all the even number:\n",mod_tuple)

Tuple after filtering all the even number:
 (1, 3, 5, 7, 9)

# 36. Multiply all elements in a tuple by 2.

In [98]:
org_tuple=(1,5,7,9,6,25,45,47,85)
mod_tuple=tuple(i*2 for i in org_tuple)
print("original tuple:",org_tuple)
print("Modified tuple:",mod_tuple)

original tuple: (1, 5, 7, 9, 6, 25, 45, 47, 85)
Modified tuple: (2, 10, 14, 18, 12, 50, 90, 94, 170)

# 37. Create a tuple of random numbers.

In [99]:
import random
random_tuple=tuple(random.randint(1,50) for i in range(10))
print("random tuple:",random_tuple)

random tuple: (19, 22, 10, 1, 33, 46, 35, 40, 35, 3)

# 38. Check if a tuple is sorted.

In [105]:
def check_sort(tup):
    for i in range(1,len(tup)):
        if tup[i]<tup[i-1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = check_sort(sorted_tuple)
is_sorted2 = check_sort(unsorted_tuple)

print(sorted_tuple," is sorted:", is_sorted1)
print(unsorted_tuple ,"is sorted:", is_sorted2)

(1, 2, 3, 4, 5)  is sorted: True
(5, 3, 1, 4, 2) is sorted: False

# 39. Rotate a tuple to the left by `n` positions.

In [107]:
org_tuple=(1,2,3,4,5,6)
n=int(input("Enter the value of n:"))
n=n%len(org_tuple)
rotated_tuple=org_tuple[n:]+org_tuple[:n]
print("Rotated tuple:",rotated_tuple)

Enter the value of n:2
Rotated tuple: (3, 4, 5, 6, 1, 2)

# 40. Rotate a tuple to the right by `n` positions.

In [109]:
org_tuple=(1,2,3,4,5)
n=int(input("Enter the value of n:"))
n=n%len(org_tuple)
rotated_tuple=org_tuple[-n:]+org_tuple[:-n]
print("Rotated tuple:",rotated_tuple)

Enter the value of n:2
Rotated tuple: (4, 5, 1, 2, 3)

# 41. Create a tuple of the first 5 Fibonacci numbers

In [112]:
a=0
b=1
fibo=[a,b]
for i in range(3):
    c=a+b
    fibo.append(c)
    a=b
    b=c
fibo=tuple(fibo)
print("Tuple of first 5 fibonacci number:\n",fibo)

Tuple of first 5 fibonacci number:
 (0, 1, 1, 2, 3)

# 42. Create a tuple from user input.

In [113]:
string=input("Enter the items seperated by comas:")
list1=string.split(",")
tuple1=tuple(list1)
print("Tuple from user input:",tuple1)

Enter the items seperated by comas:dog,frog,man,run,pet,yet
Tuple from user input: ('dog', 'frog', 'man', 'run', 'pet', 'yet')

# 43. Swap two elements in a tuple.

In [114]:
org_tuple=(1,5,7,8,95,45,62,54,85,65)
list1=list(org_tuple)
index_1=3
index_2=6
temp=list1[3]
list1[3]=list1[6]
list1[6]=temp
swap_tup=tuple(list1)
print("After swapping two elements in the tuple:\n",swap_tup)

After swapping two elements in the tuple:
 (1, 5, 7, 62, 95, 45, 8, 54, 85, 65)

# 44. Reverse the elements of a tuple.

In [115]:
tup1=(2,4,6,8,10,12)
reversed_tup=tuple(reversed(tup1))
print("Reversed tuple:",reversed_tup)

Reversed tuple: (12, 10, 8, 6, 4, 2)

# 45. Create a tuple of the first `n` powers of 2.

In [118]:
n=int(input("Enter the value of n:"))
tup1=tuple(2**i for i in range(n))
print("Tuple of first {} power of 2:".format(n),tup1)

Enter the value of n:6
Tuple of first 6 power of 2: (1, 2, 4, 8, 16, 32)

# 46. Find the longest string in a tuple of strings.

In [121]:
tup1=("This","is","my","second","assignment")
l1=tup1
longest_string=max(l1,key=len)
print("Longest string in tuple:",longest_string)

Longest string in tuple: assignment

# 47. Find the shortest string in a tuple of strings

In [122]:
tup1=("This","is","my","second","assignment")
l1=tup1
shortest_string=min(l1,key=len)
print("Shortest string in tuple:",shortest_string)

Shortest string in tuple: is

# 48. Create a tuple of the first `n` triangular numbers.

In [218]:
n=int(input("Enter the value of n:"))
tup1 = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", tup1)

Enter the value of n:5
Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

# 49. Check if a tuple contains another tuple as a subsequence.

In [125]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [127]:
alt_tup=tuple(i%2 for i in range(10))
print("Tuple of alternating 1s and 0s:", alt_tup)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

# 1. Create a set with integers from 1 to 5.

In [128]:
set_1={1,2,3,4,5}
print("Set of integer:",set_1)

Set of integer: {1, 2, 3, 4, 5}

# 2. Add an element to a set.

In [130]:
set_1={1,2,3,4,5}
value=int(input("Enter the value of the integer to be added:"))
print("Original set:",set_1)
set_1.add(value)
print("Updated set:",set_1)

Enter the value of the integer to be added:15
Original set: {1, 2, 3, 4, 5}
Updated set: {1, 2, 3, 4, 5, 15}

# 3. Remove an element from a set.

In [131]:
set_1= {1, 2, 3, 4, 5, 15}
n=int(input("Enter the value from the set to be removed:"))
print("original set:",set_1)
set_1.remove(n)
print("After removing:",set_1)

Enter the value from the set to be removed:5
original set: {1, 2, 3, 4, 5, 15}
After removing: {1, 2, 3, 4, 15}

# 4. Check if an element exists in a set.

In [137]:
set_1= {1, 2, 3, 4, 5, 15}
n=int(input("Enter the element whose existance is to be checked:"))
if n in set_1:
    print(n," is present in the set")
else:
    print(n," is not present in the set")

Enter the element whose existance is to be checked:2
2  is present in the set

# 5. Find the length of a set without using the `len()` function.

In [139]:
set_1= {1, 2, 3, 4, 5, 15}
count=0
for i in set_1:
    count+=1
print("Length of the set is: ",count)

Length of the set is:  6

# 6. Clear all elements from a set.

In [140]:
set_1= {1, 2, 3, 4, 5, 15}
print("Original set:",set_1)
set_1.clear()
print("After clearing:",set_1)

Original set: {1, 2, 3, 4, 5, 15}
After clearing: set()

# 7. Create a set of even numbers from 1 to 10.

In [143]:
even_set=set([i for i in range(1,11) if i%2==0])
print("Set of even number:",even_set)

Set of even number: {2, 4, 6, 8, 10}

# 8. Create a set of odd numbers from 1 to 10.

In [144]:
odd_set=set([i for i in range(1,11) if i%2!=0])
print("Set of odd number:",odd_set)

Set of odd number: {1, 3, 5, 7, 9}

# 9. Find the union of two sets.

In [148]:
set_1={2,4,6,8}
set_2={1,3,5,7,9}
u_set=set_1.union(set_2)
print("set 1:",set_1)
print("set 2:",set_2)
print("union of sets:",u_set)

set 1: {8, 2, 4, 6}
set 2: {1, 3, 5, 7, 9}
union of sets: {1, 2, 3, 4, 5, 6, 7, 8, 9}

# 10. Find the intersection of two sets.

In [150]:
set_1={2,4,6,7,8}
set_2={1,3,5,7,9}
i_set=set_1.intersection(set_2)
print("set 1:",set_1)
print("set 2:",set_2)
print("intersection of sets:",i_set)

set 1: {2, 4, 6, 7, 8}
set 2: {1, 3, 5, 7, 9}
intersection of sets: {7}

# 11. Find the difference between two sets.

In [152]:
set_1={2,4,6,7,8}
set_2={1,3,5,7,9}
d_set=set_1.difference(set_2)
print("set 1:",set_1)
print("set 2:",set_2)
print("difference of sets:",d_set)

set 1: {2, 4, 6, 7, 8}
set 2: {1, 3, 5, 7, 9}
difference of sets: {8, 2, 4, 6}

# 12. Check if a set is a subset of another set.

In [154]:
set_1={1,2,3,4,5,6,7,8,9}
set_2={1,3,5,7,9}
check=set_2.issubset(set_1)
print("set 2 is subset of set 1:",check)

set 2 is subset of set 1: True

# 13. Check if a set is a superset of another set.

In [155]:
set_1={1,2,3,4,5,6,7,8,9}
set_2={1,3,5,7,9}
check=set_1.issuperset(set_2)
print("set 1 is superset of set 2:",check)

set 1 is superset of set 2: True

# 14. Create a set from a list.

In [156]:
list_1=[1,2,4,5,1,2,7,8,9,1,4,5]
r_set=set(list_1)
print("list:",list_1)
print("set:",r_set)

list: [1, 2, 4, 5, 1, 2, 7, 8, 9, 1, 4, 5]
set: {1, 2, 4, 5, 7, 8, 9}

# 15. Convert a set to a list.

In [157]:
set_1={1, 2, 4, 5, 7, 8, 9}
list_1=list(set_1)
print("Set:",set_1)
print("List:",list_1)

Set: {1, 2, 4, 5, 7, 8, 9}
List: [1, 2, 4, 5, 7, 8, 9]

# 16. Remove a random element from a set.

In [163]:
import random
org_set={1, 2, 4, 5, 7, 8, 9}
print("Original set:",org_set)
random_element = random.choice(list(org_set))
org_set.remove(random_element)
print("After removing random element:",org_set)

Original set: {1, 2, 4, 5, 7, 8, 9}
After removing random element: {1, 4, 5, 7, 8, 9}

# 17. Pop an element from a set.

In [167]:
org_set={1, 2, 4, 5, 7, 8, 9}
print("Original set:",org_set)
popped_ele=org_set.pop()
print("Popped element:",popped_ele)
print("After pop:",org_set)

Original set: {1, 2, 4, 5, 7, 8, 9}
Popped element: 1
After pop: {2, 4, 5, 7, 8, 9}

# 18. Check if two sets have no elements in common.

In [171]:
set_1={1,3,5,7,9}
set_2={2,4,6,8,10}
common_ele=set_1.intersection(set_2)
if not common_ele:
    print("The sets have no common element")
else:
    print("The set have common elements:",common_ele)

The sets have no common element

# 19. Find the symmetric difference between two sets.

In [174]:
set_1={6,2,5,7,9}
set_2={2,4,6,8,10}
sym_diff=set_1.symmetric_difference(set_2)
print("set 1:",set_1)
print("set 2:",set_2)
print("symmentric difference:",sym_diff)

set 1: {2, 5, 6, 7, 9}
set 2: {2, 4, 6, 8, 10}
symmentric difference: {4, 5, 7, 8, 9, 10}

# 20. Update a set with elements from another set.

In [177]:
set_1={2,4,6,7,8}
set_2={1,3,5,7,9}
print("set 1:",set_1)
print("set 2:",set_2)
set_1.update(set_2)
print("Updated set:",set_1)

set 1: {2, 4, 6, 7, 8}
set 2: {1, 3, 5, 7, 9}
Updated set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

# 21. Create a set of the first 5 prime numbers.

In [178]:
l1=[]
for i in range(1,100):
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c+=1
    if c==2:
        l1.append(i)
prime_set=set(l1[:5])
print("Set of first 5 prime number:",prime_set)

Set of first 5 prime number: {2, 3, 5, 7, 11}

# 22. Check if two sets are identical.

In [179]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

# 23. Create a frozen set.

In [184]:
elements = [1,2,3,4,5,6,7,8,9,10]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

# 24. Check if a set is disjoint with another set.

In [185]:
set_1={1,3,5,7,9}
set_2={2,4,6,8,10}
check=set_1.isdisjoint(set_2)
print("Are the sets disjoint?",check)

Are the sets disjoint? True

# 25. Create a set of squares of numbers from 1 to 5.

In [186]:
sq_set=set([i**2 for i in range(1,6)])
print("Required set:",sq_set)

Required set: {1, 4, 9, 16, 25}

# 26. Filter out all even numbers from a set.

In [187]:
main_set={1,2,3,4,5,6,7,8,9,10}
filtered=[]
for i in main_set:
    if i%2!=0:
        filtered.append(i)
filtered=set(filtered)
print("main set:",main_set)
print("After filtering:",filtered)

main set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After filtering: {1, 3, 5, 7, 9}

# 27. Multiply all elements in a set by 2.

In [188]:
set_1={1, 3, 5, 7, 9}
up_set=set([i*2 for i in set_1])
print("Main set:",set_1)
print("After multiplying:",up_set)

Main set: {1, 3, 5, 7, 9}
After multiplying: {2, 6, 10, 14, 18}

# 28. Create a set of random numbers.

In [189]:
import random

num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {12, 19, 86, 59, 61}

# 29. Check if a set is empty.

In [191]:
set_1=set()
if not set_1:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

# 30. Create a nested set

In [193]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}


frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

# 31. Remove an element from a set using the discard method

In [194]:
set1 = {1, 2, 3, 4, 5}
n=int(input("Enter the element to be removed:"))
print("Original set",set1)
set1.discard(n)
print("After removing",set1)

Enter the element to be removed:3
Original set {1, 2, 3, 4, 5}
After removing {1, 2, 4, 5}

# 32. Compare two sets.

In [195]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

# 33. Create a set from a string

In [196]:
string=input("Enter a string:")
ch_set=set(string)
print("Set of string:",ch_set)

Enter a string:assignment
Set of string: {'s', 'm', 'n', 'a', 'e', 'i', 'g', 't'}

# 34. Convert a set of strings to a set of integers

In [197]:
str_set={"121","222","333","999"}
int_set=set()
for string in str_set:
    value=int(string)
    int_set.add(value)
print("String set:",str_set)
print("Integer set:",int_set)

String set: {'333', '121', '999', '222'}
Integer set: {121, 333, 222, 999}

# 35. Convert a set of integers to a set of strings.

In [198]:
int_set={121, 333, 222, 999}
str_set=set()
for i in int_set:
    value=str(i)
    str_set.add(value)
print("Integer set:",int_set)
print("String set:",str_set)

Integer set: {121, 333, 222, 999}
String set: {'333', '121', '999', '222'}

# 36. Create a set from a tuple.

In [200]:
tup=(1, 3, 5, 7, 9)
set_1=set(tup)
print("Tupple:",tup)
print("Set:",set_1)

Tupple: (1, 3, 5, 7, 9)
Set: {1, 3, 5, 7, 9}

# 37. Convert a set to a tuple.

In [201]:
set1= {1, 3, 5, 7, 9}
tup=tuple(set1)
print("Set:",set1)
print("Tupple:",tup)

Set: {1, 3, 5, 7, 9}
Tupple: (1, 3, 5, 7, 9)

# 38. Find the maximum value in a set.

In [203]:
set1={1,2,25,45,78,54,62,0,12,-85,88,45}
max_value=max(set1)
print("maximum value in the set:",max_value)

maximum value in the set: 88

# 39. Find the minimum value in a set.

In [205]:
set1={1,2,25,45,78,54,62,0,12,-85,88,45}
min_value=min(set1)
print("minimum value in the set:",min_value)

minimum value in the set: -85

# 40. Create a set from user input.

In [206]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  
    if user_input.lower() == 'done':
        break  

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> 5
> 9
> 45
> 68
> 45
> done
Final set: {'9', '68', '5', '45'}

# 41. Check if the intersection of two sets is empty.

In [207]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

# 42. Create a set of the first 5 Fibonacci numbers.

In [209]:
a=0
b=1
fibo={a,b}
for i in range(4):
    c=a+b
    fibo.add(c)
    a=b
    b=c
print("Tuple of first 5 fibonacci number:\n",fibo)

Tuple of first 5 fibonacci number:
 {0, 1, 2, 3, 5}

# 43. Remove duplicates from a list using sets.

In [210]:
org_list=[1,2,4,1,5,4,7,1,2,4,6,8,6,9,5,7]
mod_list=list(set(org_list))
print("Original list:",org_list)
print("After removing duplicates:",mod_list)

Original list: [1, 2, 4, 1, 5, 4, 7, 1, 2, 4, 6, 8, 6, 9, 5, 7]
After removing duplicates: [1, 2, 4, 5, 6, 7, 8, 9]

# 44. Check if two sets have the same elements, regardless of their count.

In [211]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 4}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets do not have the same elements.

# 45. Create a set of the first `n` powers of 2

In [212]:
n=int(input("Enter the value of n:"))
set1=set(2**i for i in range(n))
print("Tuple of first {} power of 2:".format(n),set1)

Enter the value of n:6
Tuple of first 6 power of 2: {32, 1, 2, 4, 8, 16}

# 46. Find the common elements between a set and a list.

In [216]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9,15,75,85]
common_elements = []

for element in my_set:
    if element in my_list:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12, 15]

# 47. Create a set of the first `n` triangular numbers.

In [219]:
n=int(input("Enter the value of n:"))
set1 = set((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Set of the first", n, "triangular numbers:", set1)

Enter the value of n:6
Set of the first 6 triangular numbers: {1, 3, 6, 10, 15, 21}

# 48. Check if a set contains another set as a subset.

In [220]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

# 49. Create a set of alternating 1s and 0s of length `n`

In [221]:
alt_set=set(i%2 for i in range(10))
print("Set of alternating 1s and 0s:", alt_set)

Set of alternating 1s and 0s: {0, 1}

# 50. Merge multiple sets into one

In [222]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}